*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#a{
    height: 100vh;
    width: 100vw;
    background-image: url(https://allegiance-educare.in/storage/uploads/colleges/141760582617.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
   

}


h1{
     text-align: center;
   
}

#d:hover{
  zoom: calc(1.1);
 
}
#submit:hover{
    zoom: calc(1.1);
}

